services:
  #  Servicio de mensajer铆a RabbitMQ
  sv-rabbitmq:
    image: bitnami/rabbitmq:latest   # Imagen oficial mantenida por Bitnami
    container_name: sv-rabbitmq         # Nombre del contenedor
    ports:
      - "5672:5672"                  # Puerto de conexi贸n para clientes AMQP
      - "15672:15672"                # Puerto para la consola de administraci贸n (UI web)
    environment:
      - RABBITMQ_USERNAME=admin      # Usuario administrador
      - RABBITMQ_PASSWORD=admin123   # Contrase帽a del usuario administrador
      - RABBITMQ_VHOST=/             # Virtual host por defecto
      - RABBITMQ_MANAGEMENT_ALLOW_WEB_ACCESS=true # Habilitar acceso web
    # Acceso UI: http://localhost:15672 (user: admin / pass: admin123)

  #  Base de datos PostgreSQL
  sv-postgres:
    image: postgres:15                # Imagen oficial de PostgreSQL (versi贸n 15)
    container_name: sv-postgres          # Nombre del contenedor
    restart: always                   # Reinicia el contenedor autom谩ticamente
    environment:
      POSTGRES_USER: postgres         # Usuario por defecto
      POSTGRES_PASSWORD: 123123       # Contrase帽a del usuario
      POSTGRES_DB: arquetipo          # Base de datos inicial
      POSTGRES_HOST_AUTH_METHOD: trust # Modo de autenticaci贸n (trust para desarrollo)
    ports:
      - "5432:5432"                   # Puerto de conexi贸n para clientes PostgreSQL
    volumes:
      - postgres_data:/var/lib/postgresql/data              # Persistencia de datos
      - ./docker/init.sql:/docker-entrypoint-initdb.d/init.sql:ro # Script SQL de inicializaci贸n
    #command: ["postgres", "-c", "search_path=usuarios,public"]


volumes:
  postgres_data:                      # Volumen persistente para la BD
